name: convert readme

on:
  push:
    tags:
      - "*"

permissions:
  contents: write

jobs:
  convert:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout full history
        uses: actions/checkout@v4
        with:
          ref: master
          fetch-depth: 0            # <-- allows commits, no detached HEAD
          persist-credentials: false

      - name: Install pandoc
        run: |
          wget https://github.com/jgm/pandoc/releases/download/2.19.2/pandoc-2.19.2-1-amd64.deb
          sudo dpkg -i pandoc-2.19.2-1-amd64.deb

      - name: Convert README.md to docs/index.rst
        run: |
          pandoc README.md --from markdown -f gfm --to rst -s -o docs/index.rst
          cat docs/appending >> docs/index.rst

      - name: Commit and force-push updated index.rst
        run: |
          git config --global user.name "YoEnte"
          git config --global user.email "anthonyroeder@live.de"
          git add docs/index.rst
          git commit -m "docs: auto update index.rst" || exit 0
          git push --force https://x-access-token:${{ secrets.PAT_PUSH_MASTER }}@github.com/software-challenge/player_python.git master
